# ==============================
# Python / Virtual Env
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# ==============================
# Git / IDE
# ==============================
.git/
.gitignore
.idea/
.vscode/
*.iml

# ==============================
# OS / Editor
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Dataset e Output
# ==============================
data/*
outputs/*
!data/.gitkeep

# ==============================
# Test / Cache
# ==============================
.pytest_cache/
.mypy_cache/
.coverage
