# ------------------------------------
# 1. AMBIENTI VIRTUALI (Virtual Environments)
# ------------------------------------
.venv/
env/

# ------------------------------------
# 2. PYTHON COMPILE & CACHE
# ------------------------------------
# File compilati di Python
*.pyc
*.pyd
__pycache__/

# ------------------------------------
# 3. STRUTTURA DEL PROGETTO (IDE & OS)
# ------------------------------------
# Cartelle di configurazione degli IDE
.idea/
.vscode/

# File di sistema per Mac e Windows
.DS_Store
Thumbs.db

# ------------------------------------
# 4. DATI E OUTPUT
# ------------------------------------
# Ignora tutti i file nella cartella 'data'
data/*

# Mantieni la cartella 'data' vuota nel controllo versione
!data/.gitkeep
